p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
}

a{
  color: white;
  text-decoration: none;
}


a:hover{
  color: rgb(253, 214, 21);
}

a:active{
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 25px;
}

footer {
  margin-top: 35px;
}

.website-container {
  max-width: 1200px; 
  width: 100%; 
  margin: 0 auto; 
}

.top-banner {
  margin-top: 30px;
	margin-bottom: 30px;
  height: 100px;
  width: 100%;
  text-align: center;
}

.options-menu {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
	margin-right: 30px;
  cursor: pointer;
  
}

.catalan-logo {
  display: inline-block;
  height: 100px;
 
}

.home-box {
  display: flex;
  width: auto;
  margin-top: 35px;
  margin-bottom: 35px;

}

.home-image {
  height: 650px;
}

.test {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.home-text {
  font-family: 'Anton', sans-serif;
  font-size: 175px; font-weight: bold;
	margin-top: 75px;
  margin-bottom: 10px;
	line-height: 175px;
  text-align: right;
}

.home-description {
	width: 450px;
	font-size: 25px;
  text-align: right;
  margin-left: 170px;
}

.home-description-button{
  margin-top: 50px;
  padding: 25px;
  user-select: none;
  background-color: white;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.home-description-button:hover{
  background-color: rgb(253, 214, 21)
}

.home-description-button:active{
  background-color: white;
}


.location {
  font-family: 'Anton', sans-serif;
  font-size: 80px; font-weight: bold;
  margin-bottom: 20px;
  margin-top: 110px;
  margin-left: -100px;
  transform: rotate(-90deg);
}

.top-menu{
  text-align: center;
  font-weight: bold;
}

.face{
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map{
  margin-left: -100px;
}


.inline-text{
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}


/*---------------*/
/* Gallery style */
/*---------------*/

/* Constants */
:root
  { --gallery-width: 1200px
  ; --gallery-height: 800px
  ; --gallery-top-padding: 5px
  ; --gallery-thumbnail-height: 100px
  ; --gallery-main-display-height:
      calc(var(--gallery-height) - 3 * var(--gallery-padding) - var(--gallery-thumbnail-height));
    }

/* Flex container with main display and thumbnails */
div.gallery
  { display: flex
  ; width: var(--gallery-width)
  ; height: var(--gallery-height)
  ; flex-direction: column
  ; padding-top: var(--gallery-padding)
  ; padding-bottom: var(--gallery-padding)
  ; box-sizing: border-box
    }

/* The main gallery display */
div.gallery-display
  { margin-bottom: var(--gallery-padding)
  ; height: var(--gallery-main-display-height)
  ; width: 100%
  ; text-align: center
    }

/* Image from the gallery */
img.gallery-image
  { max-width: 100%
  ; max-height: 100%
    }

/* Flex container for thumbnails */
#thumbnails
  { height: var(--gallery-thumbnail-height)
  ; display: flex
  ; flex-direction: row
  ; justify-content: flex-start
  ; width: 100%
  ; gap: 3px
  ; overflow-x: auto
    }

/* Thumbnail image */
img.thumbnail
  { cursor: pointer
    }


    
